@media (min-width: 1500px) {
  .img-hero {
    bottom: -60%;
    max-width: 790px;
  }

  .sub-img-hero {
    max-width: 750px;
    max-height: 750px;
  }
  .img-hero {
    bottom: -60%;
  }
  .img-hero::after {
    max-width: 765px;
    max-height: 765px;
  }
}

@media (max-width: 1370px) {
  .about__us__img .img {
    height: 400px;
  }

  .about__us__img .img:nth-child(2) {
    height: 350px;
  }

  .about__us__img .img:nth-child(3) {
    top: 370px;
  }

  .img__des {
    top: 420px;
    padding: 15px;
    font-size: 24px;
  }

  .about__us__text p {
    line-height: 2;
  }

  .retreat__title h2 {
    font-size: 16px;
  }

  .rate__rereat p {
    font-size: 15px;
  }

  .rate__rereat .icon {
    font-size: 14px;
  }

  .rate__rereat {
    gap: 5px;
  }

  .retreat_desc {
    font-size: 16px;
  }
}


@media (max-width: 1200px) {
  .img-product {
    height: 280px;
  }
  .img-hero {
    width: 56%;
  }
  .contact-header {
    gap: 7px;
  }
  .sub-contact-header {
    gap: 5px;
  }
  .sub-contact-header h2 {
    font-size: 14px;
  }
  .img-contact-header {
    width: 40px;
    height: 40px;
  }
  .element ul {
    gap: 25px;
  }
  .element ul li a {
    font-size: 15px;
  }
  .logo {
    width: 100px;
  }
  h1 {
    font-size: 40px;
  }
  .img-product {
    height: 215px;
  }
  .price-product h2 {
    font-size: 14px;
  }
  .address-product {
    font-size: 15px;
  }
  .address-product img {
    width: 23px;
    height: 23px;
  }
}

@media (max-width: 1024px) {
  .about__us__text p {
    line-height: 1.8;
    font-size: 18px;
  }

  .search__result {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .internal__links a {
    font-size: 18px;
  }

  .arrive__date p {
    color: var(--primary2);
    font-size: 17px;
  }

  .arrive__card {
    margin-top: 50px;
  }
}

@media (max-width: 992px) {
  .contact-header {
    display: none;
  }
  .sco-media {
    display: none;
  }
  .btn-nav-bar > .ctm-btn {
    display: none;
  }
  .element {
    display: none;
  }
  .top-bar {
    display: none;
  }
  .nav-bar {
    margin: 15px auto;
  }
  .text-hero {
    width: 87%;
    padding: 70px 0;
    margin: auto;
    text-align: center;
  }
  .hero {
    min-height: 676px;
  }
  .search-header {
    margin: 25px auto;
  }
  .img-hero {
    width: 63%;
    margin: auto;
    left: 0;
    right: 0;
  }
  .img-hero::after {
    left: 0;
    bottom: 0;
    right: -10px;
    margin: auto;
  }
  .links-tabs-product ul li {
    width: calc(50% - 10px);
  }
  .statistics-index .col-lg-4:nth-of-type(2) .arrow-statistics {
    display: none;
  }
  .sub-blog-index:nth-of-type(1) .img-blog-index {
    width: 100%;
    height: 250px;
  }
  .sub-blog-index:nth-of-type(2) .img-blog-index,
  .sub-blog-index:nth-of-type(3) .img-blog-index {
    height: 200px;
  }
  .text-blog-index p {
    font-size: 15px;
    line-height: 28px;
    margin: 10px 0;
  }
  .text-blog-index h2 {
    font-size: 16px;
  }
  .sub-counter-header {
    width: 115px;
    height: 115px;
  }
  .num-counter {
    font-size: 17px;
  }
  .menu-div {
    display: flex !important;
  }

  section.about__us {
    flex-direction: column;
  }

  .about__us__img .img {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 200px;
    height: 200px;
  }

  .about__us__img .img:nth-child(2) {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 200px;
    height: 200px;
  }

  .about__us__img .img:nth-child(3) {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 200px;
    height: 200px;
  }

  .img__des {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 200px;
  }

  .about__us__img {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
  }

  .search__result {
    flex-direction: row;
  }

  .retreat__card {
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 768px) {
  .img-hero {
    width: 70%;
    margin: auto;
    left: 0;
    bottom: -35%;
    right: 0;
  }
  .main-blog-index {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  .sub-blog-index {
    flex-wrap: wrap;
  }
  .sub-blog-index:nth-of-type(2) .text-blog-index,
  .sub-blog-index:nth-of-type(3) .text-blog-index {
    width: 100%;
  }
  .sub-blog-index:nth-of-type(2) .img-blog-index,
  .sub-blog-index:nth-of-type(3) .img-blog-index {
    width: 100%;
    height: 250px;
  }
  .arrow-statistics {
    display: none;
  }
  .sub-statistics-index {
    margin: 25px 0;
    text-align: center;
  }

  .property__links__container {
    margin-bottom: 30px;
  }

  .add__property__link .link__number {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }

  .add__property__link h3 {
    font-size: 17px;
    margin-bottom: 7px;
  }

  .about__us__img {
    justify-content: center;
  }

  .our__vision h2 {
    font-size: 25px;
    margin: 20px 0;
  }

  .our__vision p {
    font-size: 18px;
    line-height: 1.7;
  }

  .section__img {
    width: 300px;
    height: 300px;
  }

  .card__servises .img {
    width: 50px;
    height: 50px;
    padding: 10px;
  }

  .card__servises {
    padding: 15px;
    height: 240px;
  }

  .card__servises h3 {
    font-size: 15px;
  }

  .card__servises h3 {
    font-size: 15px;
  }

  .services__img {
    height: 500px;
  }

  .form__contact__us {
    width: 95%;
  }

  .retreat__search .input {
    width: 300px;
  }

  .retreat__search .input .icon {
    width: 40px;
    height: 40px;
    left: 10px;
  }

  .retreat__search .input img.location {
    right: 10px;
    width: 25px;
    height: 25px;
  }

  .retreat__search .input input {
    padding-right: 40px;
  }

  .offcanvas.offcanvas-start.show {
    width: 400px;
  }

  .retreat__kind__inputs label img {
    width: 30px;
    height: 30px;
  }

  .retreat__kind__inputs label {
    padding: 10px;
    gap: 5px;
  }

  .retreat__imgs__haeder {
    flex-direction: column;
    gap: 30px;
  }

  .grid__img__container {
    grid-template-rows: repeat(2, 150px);
  }

  .retreat__details__section .card {
    margin-top: 50px;
  }

  .opinion,
  section.add__comment form {
    width: 100%;
  }
}



@media (max-width: 650px) {
  .all__services {
    margin-bottom: 50px;
  }

  .card__servises {
    width: 100%;
    height: auto;
  }

  .services__img {
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
  }

  .services__img img {
    object-fit: cover;
  }

  .contact__us__info {
    position: absolute;
    left: 50%;
    z-index: 999;
    background-color: #fff;
    transform: translateX(-50%);
    width: 400px;
    top: -100px;
  }

  section.contact__info {
    margin-top: 200px;
  }

  .contact__us__img {
    height: 400px;
  }

  .blog {
    width: 100%;
  }

  .blog__search {
    margin-bottom: 30px;
  }

  .retreat__card {
    width: 100%;
  }

  .retreat__search {
    flex-direction: column;
    gap: 30px;
  }

  .retreat__search .input {
    width: 100%;
  }

  .search__filter {
    width: 100%;
  }

  .retreats__count {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .grid__img__container {
    grid-template-rows: repeat(2, 100px);
  }

  .grid__img__container .show-more {
    font-size: 12px;
    right: 10px;
    bottom: 10px;
  }

  .retreat__imgs__haeder__links {
    flex-direction: column;
    width: 100%;
  }

  .retreat__imgs__haeder__links .retreat__link {
    width: 100%;
  }

  .retreat__details__section p {
    font-size: 15px;
  }

  .retreat__details__section .icons {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .retreat__details__section .features__container {
    gap: 10px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .notification{
    flex-direction: column;
    position: relative;
  }

  .notification .delete_note{
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .notification .img{
     margin-left: auto;
     width: 40px;
     height: 40px;
  }

  .notification .img img{
    width: 25px;
    height: 25px;
  }
}



@media (max-width: 576px) {
  .img-hero {
    width: 322px;
    margin: auto;
    left: 0;
    bottom: -105px;
    right: 0;
  }
  .sub-counter-header {
    width: 90px;
    height: 90px;
    top: 0;
  }
  .num-counter {
    font-size: 12px;
  }
  .sub-counter-header img {
    width: 30px;
  }
  h1 {
    font-size: 28px;
  }
  .text-hero h2 {
    font-size: 17px;
  }
  .search-header {
    margin: 25px 0;
    position: relative;
    width: 100%;
  }
  .text-hero {
    width: 87%;
    padding: 20px 0 70px;
    margin: auto;
    text-align: center;
  }
  .logo {
    width: 65px;
  }
  .btn-user {
    min-width: 45px;
    height: 45px;
    font-size: 21px;
  }
  .num-user {
    top: 3px;
    left: 4px;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: var(--color-white);
    padding: 20px 15px;
    border-radius: 25px;
    box-shadow: 0 2px 6px #0e202c17;
  }
  h3 {
    font-size: 14px;
    margin: 0;
  }
  .links-tabs-product ul a img {
    max-width: 23px;
  }
  .element-footer ul li a {
    font-size: 15px;
  }
  .element-footer h2 {
    margin-top: 25px;
  }
  .title-center h2 {
    font-size: 20px;
  }
  .title-center {
    text-align: center;
    margin: 20px !important;
    margin-bottom: 40px;
  }
  .img-hero {
    right: 45px;
  }
  .end-page {
    background-color: var(--color-Primary1);
    margin-top: 55px;
    padding: 15px 0;
    text-align: center;
  }
  .end-page a,
  .end-page p {
    color: var(--color-white);
    font-size: 15px;
    margin: 5px auto;
  }
  .sub-features-index h2 {
    font-size: 16px;
  }
  .mr-section {
    margin: 40px 0;
  }
  .pg-section {
    padding: 40px 0;
  }
}

@media (max-width: 425px) {
  .property__desc form input[type="submit"] {
    height: 50px;
    width: 179px;
  }

  .section__img {
    margin-top: 60px;
    margin-left: auto;
  }

  .our__vision p {
    font-size: 16px;
    text-align: center;
  }

  .our__vision h2 {
    text-align: center;
  }

  .our__vision .img {
    margin-left: auto;
    margin-right: auto;
  }

  .about__us__img .img {
    width: 100%;
  }

  .about__us__img .img:nth-child(2) {
    width: 100%;
  }

  .about__us__img .img:nth-child(3) {
    width: 100%;
  }

  .img__des {
    width: 100%;
  }

  .our__message .section__img {
    margin-right: auto;
    margin-bottom: 30px;
  }

  .contact__us__info {
    width: 300px;
    padding: 10px;
  }

  .contact__us__info h2 {
    text-align: center;
  }

  .search__result {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .offcanvas.offcanvas-start.show {
    width: 300px;
  }

  .retreat__kind__inputs .input {
    width: 100%;
  }

  .retreat__kind__inputs label {
    width: 100%;
  }

  .frm__btns {
    flex-wrap: wrap;
  }

  .frm__btns button {
    width: 100%;
  }

  .grid__img__container {
    grid-template-rows: repeat(2, 70px);
  }

  .sub__header a {
    font-size: 13px;
  }

  .sub__header p {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .retreat__title {
    flex-direction: column;
  }
}
